[2017-09-22 12:43] pmaria opened #2 "Support stream as source"
When it comes to non-database sources, the current RML spec only supports the specification of file based sources in an `rml:LogicalSource`. However, it is often very useful to be able to transform on or multiple streams that are provided from some source or sources.

To support this an extension of the RML model is needed, which allows one to descibe and name such a stream.

The engine should all

[2017-09-22 13:03] pmaria opened #3 "Extend SHACL shapes with functional term map checks"
SHACL shapes currently do not yet support functional term maps

[2017-09-22 13:05] pmaria opened #4 "Use Set instead of List where appropriate"
Use Sets instead of Lists where it fits the RDF model

[2017-09-22 13:06] pmaria opened #5 "Cleanup tests"
Cleanup unused test resources

[2017-09-22 16:20] pmaria opened #6 "Rename *impl classes"

[2017-09-22 21:11] pmaria opened #7 "Refactor RdfObjectLoader to builder pattern"

[2017-09-26 15:02] kvoskuil opened #9 "Decouple ReferenceFormulation related code from mapper"
Currently, the source, iterator and expression resolver are hard coded with the assumption that the data is coming from a JSON file. Before we can support new data source types such as XML, we should select these based on the `rml:refFormulation` stated in the logical source.

It should also be easy to supply your own resolvers.

[2017-10-20 03:34] #2 closed

[2017-10-20 03:34] #4 closed

[2017-10-20 03:34] #9 closed

[2017-10-21 07:46] pmaria opened #15 "Add javadoc"
* Determine javadoc strategy
* Create valid javadoc comments so that javadoc linting passes. Currently linting is temporarily disabled in pom.xml (see TODOs in pom.xml).

[2017-10-21 07:48] pmaria opened #16 "Fix maven build warnings"

[2017-10-23 14:52] pmaria opened #17 "CSV source support"
Add support for CSV sources.

* Determine default CSV library
* Create logical source resolver implementation

[2017-10-24 12:39] asotona opened #18 "java.lang.RuntimeException: Logical sources are not equal."
Hi,
I'm trying to execute parentTriplesMapping.rml.ttl from your test cases.

First issue I found that calling mapper.bindInputStream("parentTriplesTestInput.json", ...)); is not enough to resolve the InputStream as bound to the "parentTriplesTestInput.json" source name.

I've workarounded that issue by slight modification of the parentTriplesTestInput.json to:
<mapping...> rml:source [a carml:Str

[2017-10-24 14:18] pmaria commented on #18
Hi Adam,

First off, thanks for trying out CARML!

I'm sorry that you're having trouble with the API. Understandable as well, since our documentation is not yet up to par. We're working on it!

From your description I'm not entirely sure what you want to achieve. I believe you're trying to execute the mapper on the `parentTriplesMapping.rml.ttl` file in the tests as is.

In that case you could do

[2017-10-24 14:30] pmaria commented on #18
Another, simpler, example specifiying the specific file location:
[code]

[2017-10-24 20:38] asotona commented on #18
Hi Pano,thanks for the reply, I just need to provide the Json content directly ( as streams or String fragments) without creating intermediate files.
Thank you,Adam
-------- Původní zpráva --------Od: Pano Maria <notifications@github.com> Datum: 24.10.17  16:18  (GMT+01:00) Komu: carml/carml <carml@noreply.github.com> Cc: Adam Sotona <adam.sotona@gmail.com>, Author <author@noreply.github.com> Před

[2017-10-25 07:22] pmaria commented on #18
Hi @asotona,

Ok so you do want to use a json input stream as the source.

In that case you can update the mapping like so:
[code]

And execute the mapping like so:
[code]

[2017-10-25 11:15] asotona commented on #18
OK, I see you've unified both iterators to "$.colors" - that works for nested single objects.

However how would you iterate over nested array - when (as I understand) you are limited to the same iterator pattern for all Parent/Child mappings?

[2017-10-25 11:43] asotona commented on #18
I see following mapping is passing your tests:
[code]

Does it mean the processing logic of the rml:iterator depends on the source stream origin?

Thanks,
Adam

[2017-10-25 16:12] pmaria commented on #18
Hi Adam,

That test only tests the loading of that mapping file using the  RdfMapper, not actually executing it. It's not a correct mapping, and this is misleading. We should fix this in #5. Thanks for pointing that out, and sorry for causing confusion.

The way you would handle different logical sources is bij using a join as per http://rml.io/spec.html#logical-join.

An example of this can be fo

[2017-12-05 18:19] #3 closed

[2017-12-05 18:19] #17 closed

[2017-12-12 15:31] syats opened #22 "JSONPath Query results always have [ ] around them"
Hi,

Templates that have JSONPath queries are not being properly returned. Some square bracket characters and quotes are being appended to the result. Maybe there is a missing step in the parsing of the JSONPath result?

## The RML:

## The Json being mapped:

## The result:

Notice the encoded characters around AaX

Thanks for any feedback!

[2017-12-12 17:37] pmaria commented on #22
Hi @syats,

The problem here is that the result of a JsonPath filter is always a list.
If you were to use `"$.BSN.val"` the result would be as you expected.

There doesn't seem to be a way to get a value out of a filtered list.
See also: https://github.com/json-path/JsonPath/issues/272

I guess this could be useful when you know for certain that a list can be filtered down to a singular item.
If y

[2017-12-13 15:08] syats commented on #22
Thanks @pmaria !

The RML spec isn't really clear about how to handle this case.

My suggestion would be that if the result of a JSONPath expression is a list, then the mapping gets applied to each element of the list. This is consistent with the evaluation of template "http://loc.example.com/city/{$.venue[*].location.city}" done in section [9.2 of the spec](http://rml.io/spec.html#example-input).

[2017-12-16 09:40] pmaria commented on #22
Hi @syats,

Interesting idea. Do you have a lot of datasets where you would need such functionality?

Currently, as RML is basically a direct abstraction of R2RML, and this isn't part of R2RML, it isn't in RML either.
So this would have to be a new construct. Something like a `MultiTermMap` that requires `multiTemplate` and `multiReference` perhaps. But this would have to be investigated further.

[2017-12-19 20:30] ZacharyWhitley commented on #6
What would you like them renamed to?

[2017-12-19 21:26] pmaria commented on #6
@ZacharyWhitley would like to rename them to Carml*. So for example SubjectMapImpl becomes CarmlSubjectMap.

[2017-12-21 14:28] ZacharyWhitley commented on #16
I didn't notice any build warnings but I'll take a second look.

[2017-12-21 14:28] ZacharyWhitley commented on #6
Submitted PR

[2017-12-22 09:44] pmaria commented on #6
Thanks @ZacharyWhitley !! Looks good to me. Really cool that you picked this up.

[2017-12-22 10:30] pmaria commented on #16
I had noticed some during first release, and created this issue as a reminder to check it out. But I don't know if it is still the case. I think we can close this issue for now, if you don't find anything.

[2017-12-22 18:31] ZacharyWhitley commented on #6
My pleasure. Really cool of you to write carml! :)

[2017-12-23 00:57] ZacharyWhitley commented on #16
It's looking good on the develop branch for me.

[2017-12-27 13:04] pmaria commented on #16
Cannot reproduce

[2017-12-27 13:04] #16 closed

[2018-01-07 19:07] pmaria opened #26 "Function valued term maps always return Literal"
Currently function valued term maps always return a literal value. This makes it impossible to generate an IRI from a function value.
They should follow the normal R2RML term generation rules https://www.w3.org/TR/r2rml/#termtype.

[2018-01-09 10:15] syats commented on #22
Hi @pmaria ,

Yes, we have many files like that.
In any of the links in this site
http://adequate-project-pp.semantic-web.at/GraphSearch/
you can click on an item and then on the metadata link (e.g.  http://adequate-project.semantic-web.at:5003/www_opendataportal_at/anzahl-der-unternehmensneugrundungen-ab-1993/blob/master/metadata.jsonld  )
In the above example, I would like to get, for example, t

[2018-01-10 09:26] pmaria commented on #22
@syats interesting. So you want to use RML on expanded JSON-LD RDF documents, presumably then to create completely new RDF? I would be interested to know more about the application, that is if you're allowed to share that.

One option to work around this issue is to compact or flatten the JSON-LD first, see e.g. http://tinyurl.com/yc9xlnv7 , which might solve your problem. Also creating a custom f

[2018-01-17 14:28] syats commented on #22
Hi!
Ineed, the idea was to be able to map any json file, in particular JSON-LD.
The idea is to implement a service where one can upload metadata in arbitrary format, build (using a UI) a RML to map it into a standar format, and save the metadata in that standard format. In the case where the upload is JSON-LD, indeed one could do other approaches, but it would be nice to have as few "special cases

[2018-01-17 14:28] #22 closed

[2018-01-18 16:40] syats opened #28 "XPaths and namespaces"
Hi again,

I will start by saying I know how contentious the issue of namespaces in XPaths is!
Having said that, I find no workaround to be able to map XML files that use namespaces, except using the name() construct all over the XPath.

Here is a sample file:
https://pycsw.eodc.eu/?service=CSW&version=3.0.0&elementsetname=full&request=GetRecordById&outputSchema=http://www.isotc211.org/2005/gmd&id

[2018-01-18 17:06] syats opened #29 "XPaths matching multiple nodes don't generate multiple triples"
Issue similar to the one with the JSonpaths for multiple matches. In this case, however, I do not find a workaround.

Here I have an XML file (EODC1.xml) that specifies multiple tags for an asset

[code]

And here I have a mapping that should produce one triple with predicate ex:Tags for each such tag

[code]

Unfortunately the actual output is only one tag:
[code]

I believe this is not the inten

[2018-01-20 16:27] pmaria commented on #28
Hi @syats,

I agree. I actually ran into the same issue.
I see several options on how to approach this, which I am now contemplating. But I think we can add support for this in the next release.

[2018-01-20 17:11] pmaria commented on #29
@syats yeah that sucks. We should throw an error there. I'll fix that. (noted as bug)

I definitely see your point on this multiple term problem. I will see if we can work out a way to solve this issue somehow. I have some ideas.

Currently though, the only way I see to work around this is to create a `rml:LogicalSource` per specific value. But this can become unsustainable quickly.

For example,

[2018-01-22 11:44] syats commented on #29
Hi @pmaria ,
Thanks for looking into this.
The workaround only works if the set of possible values (types of tags, in this example) are known in advance, but this isn't necessarily the case.

[2018-01-22 13:06] pmaria commented on #29
That is indeed true.

[2018-02-07 13:04] pmaria commented on #29
@syats, the next release will have some new constructs to solve some issues around multiple nodes. Hopefully this will solve some of the issues you raised.

[2018-02-07 13:05] pmaria commented on #28
@syats, will be part of next release

[2018-02-14 20:35] #6 closed

[2018-02-14 20:35] #29 closed

[2018-02-14 20:35] #28 closed

[2018-02-15 07:30] #26 closed

[2018-02-18 16:28] chiarisilver opened #34 "could not create generator for map [CarmlSubjectMap [getGraphMaps()=[], getClasses()=[http://www.fitnessontology.com/#HeartRate], getReference()=null, getInverseExpression()=null, getTemplate()=null, getTermType()=BLANK_NODE, getConstant()=null, getFunctionValue()=null]]"
Hi,
I am trying to use the CARML library in order to map two JSON files through my RML mapping file.
When I run my code, I get this error:
`
Exception in thread "main" java.lang.RuntimeException: could not create generator for map [CarmlSubjectMap [getGraphMaps()=[], getClasses()=[http://www.fitnessontology.com/#HeartRate], getReference()=null, getInverseExpression()=null, getTemplate()=null, getT

[2018-02-18 17:29] chiarisilver commented on #34
Unfortunately I can not post all the code. This is an example of a subject map. The error could come from the blankNode?

rr:subjectMap [
	rr:termType rr:BlankNode;
	rr:class fo:TimeInterval;
];

Thanks,
Chiara

[2018-02-18 18:12] pmaria commented on #34
Hey @chiarisilver,

Yes that is the problem indeed. In the implementation of CARML we followed the R2RML spec rules for term maps. Those require you to provide an id value for a blank node. You can do this by adding an `rml:reference`, or `rr:template` to create a unique, or not so unique blank node identifier.

Regards,
Pano

[2018-02-19 09:36] syats opened #35 "SPARQL-Generate"
Just wanted to bring to the attention of the developers, and the community in general, the existence of SPARQL-Generate (https://ci.mines-stetienne.fr/sparql-generate/playground.html)
It is a query language that works with CSV XML and JSON, so it might be a good alternative to jsonpath/xpath

Best,

[2018-02-19 10:15] syats commented on #35
My bad,
After careful examining, it also uses Xpath and JsonPath for querying

[2018-02-19 10:15] #35 closed

[2018-02-23 11:13] pmaria commented on #34
@chiarisilver Did you manage to solve this?
If yes, could you please close this issue.
If no, can we help you further?

[2018-02-23 11:16] pmaria commented on #7
closing this, will reconsider during larger refactoring.

[2018-02-23 11:16] #7 closed

[2018-02-23 11:18] pmaria commented on #18
@asotona Did you manage to get it working the way you wanted?
If yes, could you please close this issue?
If no, can we help you further?

[2018-02-24 09:38] chiarisilver commented on #34
Yes thank you!

[2018-02-24 09:38] #34 closed

[2018-02-27 08:49] asotona commented on #18
Hi Pano,
unfortunately I didn't manage to get it working. The root cause is in inability of the JSONPath to traverse to "parent" node. Maybe you can help me, however I don't see a way to use CARML (and also any other RML utilising JSONPath) to map JSON with nested arrays into RDF.

[2018-03-02 10:38] pmaria commented on #18
Hi @asotona, closing this and opening a new issue.

[2018-03-02 10:41] pmaria opened #36 "problem mapping JSON with nested arrays into RDF"
New issue based on discussion in #18

@asotona said:

[2018-03-02 10:42] pmaria commented on #36
@asotona could you provide an example JSON snippet and the RDF you wish to have created?

[2018-03-02 12:43] pheyvaer opened #37 "Only first JSON object of stream gets mapped"
Hi,

I'm trying to run the following mapping on a stream.
[code]
I send the following JSON objects (3 in this example) separately to a socket on localhost:5005.
[code]
In my Java code I do the following;
[code]
In the model I see that only the first JSON object is mapped. However, the 2 following ones are not. Do you have any idea why this happens?

[2018-03-02 14:20] pmaria commented on #37
@pheyvaer trying your mapping without the socket setup seems to work for me when using the other JSON object

[code]

results in
```<http://example.com/Child/tests> a <http://example.com/Child> .```

[2018-03-02 14:22] pheyvaer commented on #37
But what happens with multiple objects then? In my case, the first object got also mapped. It were the following that didn't work.

[2018-03-02 14:36] pmaria commented on #37
Ah sorry, I misinterpreted.

Int it's current state CARML doesn't support listening to input streams yet (mainly because we didn't have that usecase yet), Currently only "static" inputstreams are supported, in the sense that it reads all of the stream and maps it, when map() is called.

We would like to add support at some point though. Would welcome any contribution.

[2018-03-02 14:54] pmaria commented on #37
@pheyvaer For now it is of course possible to have a separate process listenening to the socket and passing any new input to an existing mapper instance. Hope that helps.

[2018-03-15 19:58] ktk opened #38 "CLI interface"
Hi,

Mainly an issue to tell you that I watch the space, very interesting project! I use RML for quite a long time but implementations are so far... uhm, questionable.

Carml looks great, I see cli-interface is on the todos. Do you have any ETA for that?

[2018-03-18 15:27] pmaria commented on #38
Hi @ktk,

Thanks! We're trying to make CARML useful for more implementations. We're not there yet, but working on it :).

The CLI is indeed on the roadmap. Can't say for sure when we'll get around to it. There are a couple of things that have higher priority. For example improving the logging.

In the mean time I played around with creating a CLI a while back over at https://github.com/pmaria/carm

[2018-03-20 09:43] mdavino commented on #18
Hi, i get "java.lang.RuntimeException: Logical sources are not equal"
this is my case:

@prefix rr: <http://www.w3.org/ns/r2rml#>.
@prefix rml: <http://semweb.mmlab.be/ns/rml#>.
@prefix ex: <http://example.com/>.
@prefix ql: <http://semweb.mmlab.be/ns/ql#> .
@prefix carml: <http://carml.taxonic.com/carml/> .

<#OA> 	rml:logicalSource [
		rml:source [
			a carml:Stream;
			carml:streamName "stream-

[2018-03-20 15:40] mdavino opened #39 "multiReference with "multilanguage""
is it possibile carml:multiReference with "multilanguage"?

{
     "id": "112",
     "name":
     [
        {
              value: 'Giuseppe',
              language: 'it'
       } ,
         {
              value: 'Joseph',
              language: 'en'
       } ,
     ]
}

for get:

ex:id112 a exPerson ;
     ex:name 'Giuseppe'@it ;
     ex:name 'Joseph'@en .

Thanks.

[2018-03-20 19:49] pmaria commented on #18
Hi @mdavino,

Thanks for posting.

This is indeed unintended behavior. It seems we introduced a bug in the last release. We'll look into it.

In the mean time, declaring the logical source and reusing it does work properly.

[code]

[2018-03-20 20:57] pmaria commented on #39
Hi @mdavino,

No, there is no support for matching languages with multiReference.

To solve your example you can filter values with specific languages using json path:

[code]

[2018-04-11 15:20] miyamotodan opened #40 "JoinCondition : null pointer exception"
Hi!

I'm trying to use the CLI ( https://github.com/pmaria/carml-jar ), it works fine! but I get an exception when I try to use a JoinCondition like this:

`rr:predicateObjectMap [
    rr:predicate clvapit:hasRegion ;
    rr:objectMap [
      rr:parentTriplesMap <#csv_source_istat>;
      rr:joinCondition [
        rr:child "CODISTAT";
        rr:parent "CODICE_COMUNE_FORMATO_ALFANUMERICO";

[2018-04-12 16:39] syats commented on #29
Hi @pmaria !
I have seen that there are quite a lot of updates in the 0.1.2 version! Great work!
In particular, the notes in this issue indicate the updates allow for multiple objects. I see that there are some new classes in the carml ontology, but I fail to find any examples on how to use them.
Could you give me some pointers?

I am getting errors like this one:
Expecting single value for object

[2018-04-13 06:28] pmaria commented on #40
Hi @miyamotodan,

When you specify the parent triples map (`rr:parentTriplesMap`) you are pointing to the logical source (`<#csv_source_istat>`) instead of a triples map. Presumably you should point to the `<#Regione>` triples map

[2018-04-13 06:36] pmaria commented on #29
Hi @syats there are some examples described here https://github.com/carml/carml#multitermmap-extension.

The "multi-ness" is triggered by the predicate used to specify the reference.
The predicates that make the TermMap (in the subject position) a multiTermMap are
* `carml:multiTemplate`
* `carml:multiReference`
* `carml:multiFunctionValue`
* `carml:multiJoinCondition`

The idea is that anytime a

[2018-04-13 06:55] pmaria opened #41 "carml-rdf-mapper should provide better error messages"
In #40 the mapper returns a null-pointer exception, when it could provide more information on the expected type to the user.

[2018-04-13 07:48] syats commented on #29
Pano,
Excellent and very elegant solution!
Thanks for the pointers, I managed to make it work in 15 seconds :)

Victor

[2018-04-13 08:29] pmaria commented on #29
Awesome!

[2018-04-13 15:46] pmaria opened #42 "Add proper logging"

[2018-04-16 21:35] miyamotodan commented on #40
Yes!! You are right! Thanks

[2018-04-16 21:36] #40 closed

[2018-05-11 11:07] pmaria opened #48 "Split off logical source resolvers as separate maven modules"

[2018-05-11 11:07] pmaria opened #49 "Update dependencies"

[2018-05-20 08:19] #49 closed

[2018-05-20 08:19] #42 closed

[2018-05-20 08:19] #48 closed

[2018-05-22 20:39] VladimirAlexiev commented on #39
R2rml and rml also don't support getting the language tag from a source field. So search for `rrx:languageColumn`

[2018-05-22 20:44] VladimirAlexiev opened #52 "Why multiReference?"
I have perhaps a naive question.
Looking at the example in the readme, "cars" returns an array. So this array should emit multiple rdf object values, what else could it emit?
Seems to me you need to extend/fix the rml implementation, but not necessarily the rml language?

[2018-05-24 07:41] pmaria commented on #52
Hi @VladimirAlexiev ,

Thanks for looking at this critically!

The reason we chose to introduce these multi* terms to realise multiplicity in term generation is because, in our opinion, the RML vocabulary doesn't define any such behavior. For example, according to R2RML a termmap is "A function that generates an RDF term from a logical table row.". RML doesn't seem to define an rml:TermMap stating

[2018-05-24 07:48] pmaria commented on #39
Hi @VladimirAlexiev ,
Thanks for pointing this extension out. Are there any other extensions defined under this namespace? At least this one would indeed be interesting to add to RML.

[2018-05-27 07:05] VladimirAlexiev commented on #52
Right! You don't need  a new class `rml:TermMap`: the RML spec could clarify what happens with the standard class `rr:TermMap` when a data access returns multiple values.
Please note that http://rml.io/RMLmappingLanguage.html says "An Object Map specifies how the triple's object(s) are generated" (note the plural); and generates two instances from this data:
[code]
The iterator does not explicitly

[2018-05-27 07:15] VladimirAlexiev commented on #39
That's the only one. It's implemented in db2triples (https://github.com/antidot/db2triples/issues/13) and perl (http://search.cpan.org/~tobyink/RDF-RDB2RDF-0.008/lib/RDF/RDB2RDF/R2RML.pm)

[2018-06-10 13:31] fekaputra opened #53 "MultiTermMap extension for CSV"
Hi, I wonder whether there is a plan to work on the multitermmap for CSV. In my case, there are multiple (well.. up to hundreds) values/entries separated by ';' in a single CSV cell.

ps: thanks to carml team for the nice engine!

[2018-06-13 10:39] pmaria commented on #53
Hi @fekaputra ,

No, currently no plans for this.
The problem is that there is no standard for multidimensional CSV (, at least, that I know of).

What you could do in this case is use the function extension. You could create a function that parses the csv value representing multiple entities and returns a `List<>` of values. Then specify the execution of that function in the mapping using `carml:

[2018-06-13 19:08] fekaputra commented on #53
Thanks for the reply! I'll check it out.

[2018-06-13 19:08] #53 closed

[2018-06-28 11:21] syats opened #54 "Predicates of type IRI don't seem to get values from JSON"
Hi again!
I have an rml file that is supossed to create some triples whose predicates are IRIs. I want' these IRIs to come from a URL in the json.
While the input file contains the following key value pair:
`"license_url": "https://creativecommons.org/licenses/by/3.0/at/deed.de", `
The out put contains the following triple
`http://my.resources/my.resource ; 	 http://purl.org/dc/terms/license ; 	 h

[2018-06-29 09:11] pmaria commented on #54
Hi @syats,

The `rr:template` will create an IRI-safe version of the reference enclosed in curly braces, as per the [R2RML spec](https://www.w3.org/TR/r2rml/#from-template). This means that it will encode the value as `https%3a%2f%2fcreativecommons.org%2flicenses%2fby%2f3.0%2fat%2fdeed.de`. Then because the base IRI in CARML is set to `http://none.com/` by default, this is prepended.

The solution

[2018-07-04 16:56] miyamotodan opened #55 "why Missing property in path ?"
why you cannot ignore the mapping (ex: predicateObjectMap) and go on with others?
have I to provide always the same JSON structure with all the properties I mapped?

thanks in advance

[2018-07-05 08:49] miyamotodan commented on #55
sorry, i'm too cryptic :-)

I have 2 json file, "schedaRA" works fine with my mapping, "schedaRA_mod" is the same file but I've deleted a nested piece of information "OGTT" because sometimes I don't have it in my data.
With the "mod" file I got "Missing property in path $['OG']['OGT']['OGTT']".

I hoped it could be ignored by the processor...

Maybe I'm wrong using jsonpath in tis way?

[example.z

[2018-07-09 11:38] syats commented on #54
Thanks @pmaria ,
That made the trick.  Just in case someone stumbles into this in the future, I would like to note that the syntax for jsonpath/xpath expression is different between rr:template and rml:reference:  in the case of rml:reference no curly brackets should surround the expression.

Best,
Victor

[2018-07-09 11:38] #54 closed

[2018-07-09 15:50] pmaria commented on #55
Hi @miyamotodan,

It seems this is expected behavior for Jayway's JSONPath implementation. The solution is to add `Option.SUPPRESS_EXCEPTIONS` to the JSONPath configuration. I will add this to the next release.

In the meantime you could copy the JsonPathResolver code and use your own with this extra configuration.

I hope to get the fix out soon.

[2018-07-10 14:14] miyamotodan commented on #55
Thaks a lot!

[2018-07-10 14:14] #55 closed

[2018-07-25 10:21] fbuciuni90 opened #56 "LogicalSource inside functionValue ignored"
Does functionValue use the rml:logicalSource specified inside it?
In particular I need to use multiple logicalSource, one for a functionValue in subjectMap
and another for a functionValue in predicateObjectMap, however it looks like the logicalSource given
inside the functionValue is ignored so I don't get the (correct) predicateObjectMap.
I attach a piece of code to clarify what I'm trying to do.

[2018-07-25 11:14] pmaria commented on #56
Hi @fbuciuni90 ,

No the logical source inside the functional term map is ignored. The logical source of the triples map which references the functional term map is used for it's execution.

What you want to achieve doesn't seem to be supported at the moment. There would have to be a way to join a functional term map's iteration with the triples map's iteration.

What you can do in your case is us

[2018-07-25 14:46] fbuciuni90 commented on #56
Ok, I see how the logical source is used.

I've already tried to use the joinCondition but it doesn't return the correct result in my case.
In particular, since in <#MappingSchedaOA_Time> I have two properties, I need to use two multiJoinConditions. The problem arises because, in the json source I'm using, some instances have one property missing and so rr:child has a jsonpath
(something like ['DT

[2018-07-25 18:51] pmaria commented on #56
It's hard to see what the problem is without the input json file.

In particular, since in <#MappingSchedaOA_Time> I have two properties, I need to use two multiJoinConditions.

Note that you can add multiple rr:joinCondition nodes to a referencing object map.

(something like ['DT'][*].['DTZ.DTZG'] following the example attached before) which iterates over missing paths returning an error.

Is th

[2018-07-26 13:14] fbuciuni90 commented on #56
The error displayed is different than the one reported in issue #55 (but may be related).
I get this error
[code]
I attach a standalone example to show why the join doesn't actually work in my case.

https://drive.google.com/file/d/1McmPIONHUCE6KLDSam1M4iCq1hIA_bfb/view?usp=sharing

Thanks.

[2018-07-27 10:22] fbuciuni90 commented on #56
I'd like to report that I found a solution to the problem using multiTemplate into the functions and some filters to solve the jsonpath issue.
If you are interested in, I uploaded the example attached before, where the new mapping has name "mapping3.rml.ttl".
https://drive.google.com/file/d/1McmPIONHUCE6KLDSam1M4iCq1hIA_bfb/view?usp=sharing
The side issue of this approach is that it may turns out

[2018-07-27 12:23] pmaria commented on #56
@fbuciuni90 that's great! Thanks for letting us know.

I was just looking into the issue. It seems that joins with filter expressions that return a collection with a null value aren't handled properly. I'll fix this and hopefully release it soon.

[2018-07-31 15:19] pmaria commented on #18
Was fixed in last release

[2018-07-31 15:19] #18 closed

[2018-08-01 09:45] pmaria opened #59 "Expand supported possible FnO function parameter types"
Add support for more primitive types and support for `List<String>` as a paramater to an FnO function.

[2018-08-03 09:57] #56 closed

[2018-08-03 09:57] #59 closed

[2018-08-13 13:28] nicky508 opened #63 "parent triple map > Expecting single value for object map on subject"
I have a data structure consisting of tickets. Each Ticket is linked to multiple categories. In the rml mapping I created a parent triple map to the ticket mapping which would link the categories to the ticket and creates the categories as separate objects. However, I get the error:

 Exception in thread "main" java.lang.RuntimeException: Expecting single value for object map on subject [http://ww

[2018-08-14 07:13] pmaria commented on #63
Hi @nicky508,

When you expect more than one object, carml expects the use of a "multi term map".  See https://github.com/carml/carml#multitermmap-extension and also some discussion about it in #52 and #22. It is currently not really clear from the RML spec what is expected to happen in the case a term map returns multiple values, so we decided on this construct for now.

[2018-08-14 09:36] pmaria commented on #63
Hey @nicky508. no currently it's only supported on object maps because we haven't had the use case yet for subject maps, and because it was a bit more difficult to implement. But good to know that you have this use case.

If it's only the `X rdf:type bm:Kategorie` triple you need, you could just create an extra triplesmap with an iterator over those nodes.

[2018-08-14 09:44] nicky508 commented on #63
ah @pmaria I see. Thanks for your help. I found another solution (probably a bit quicker as well). I use the multiTemplate to create a link between the tickets and the categories and use a separate triplemap for creating a object from the the categories themselves.
[code]

[2018-08-14 09:44] #63 closed

[2018-09-05 08:26] SebeiHiba opened #64 "Store result in triple store database"
Hi,
How can I store the org.eclipse.rdf4j.model.Model in an RDF Triple Store?

[2018-09-05 09:00] pmaria commented on #64
Hi @SebeiHiba,

That depends on which triple store you're using.
The easiest is if your triple store has an RDF4J binding. Then you can directly add your org.eclipse.rdf4j.model.Model to your store.

See http://docs.rdf4j.org/programming/#_the_repository_api and http://docs.rdf4j.org/programming/#_rdf_collections_and_repositoryconnections

If not, you will have to translate the org.eclipse.rdf4j.m

[2018-09-05 09:26] SebeiHiba commented on #64
Hi !!! first Thank you for your response.
I tried to store as this
RDF4JStore rmlStore = new RDF4JStore(model);
Executor executor = new Executor(rmlStore, new RecordsFactory(new DataFetcher(cwd, rmlStore)));

But the RDF4JStore is not defined. (The package be.ugent.rml.store is not available) so now I want to store it with OpenLink Virtuoso.

[2018-09-05 09:49] pmaria commented on #64
There is a RDF4J connector for Virtuoso. See http://vos.openlinksw.com/owiki/wiki/VOS/VirtSesame2Provider. I have no experience with Virtuoso, but It seems pretty straight forward to use.

The be.ugent.rml.store.RDF4JStore is not part of CARML but of RMLio's rml-mapper, so I don't know what that does.

[2018-09-06 14:47] pmaria commented on #64
Closing as not related to CARML functionality

[2018-09-06 14:47] #64 closed

[2018-10-10 08:03] nicky508 opened #65 "Cannot use carml:source/rml:source"
Hi,

I have a question about the use of hardcoded inputfiles in the mapping. Until now, I used streams. But I face the problem of vast input files, which will cause Java memory issues errors. Somewhere I read that the Saxion lib does not read the complete xml file into memory (ofcourse streams do). Therefore I am trying to point the mapping to the xml file and hopefully elude the memory issue. How

[2018-10-10 13:14] pmaria commented on #65
Hi @nicky508

You have to add a `.fileResolver(Paths.get("YOUR_BASE_PATH_HERE"))` when building your RmlMapper. I agree that this isn't very clear currently. I'll see what we can do about that in the docs.

However, I'm afraid that won't solve your problem. We're currently not using memory mapped files (or something like that) internally to handle large files, so CARML currently reads provided sou

[2018-10-18 13:02] #65 closed

[2018-10-26 07:27] nicky508 opened #66 "UTF-8 encoding on labels"
Best,

At the moment I have a dataset with lots of terms words with special characters like ä ö etc. But it seems the characters are not encoded and therefore, I got ?? signs in SPARQL results instead of the proper character for example.

[2018-10-26 07:31] ktk commented on #66
I've had this with multiple input files, XML input is encoded in UTF-8, output strings get encoded to something that is definitely not UTF-8 anymore. German umlauts is an easy testcase.

[2018-10-26 07:56] pmaria commented on #66
Interesting. Is it possible to provide a test case?

[2018-10-26 08:53] ktk commented on #66
I can cook something up. I use it via https://github.com/netage/carml-cli by @nicky508. Not sure on what side the UTF gets lost.

Will update here

[2018-10-26 09:05] pmaria commented on #66
Cool thanks!

[2018-10-28 11:53] ktk commented on #66
OK this is weird, I created the following input XML file and carml-config: https://gist.github.com/ktk/2a5e81ca079c74612b9b096e7720f51b

I use [carml-cli](https://github.com/netage/carml-cli) from @nicky508 to convert it:

   java -jar cli-0.0.6-SNAPSHOT-jar-with-dependencies.jar -i utf-test.xml -m utf-test.ttl -of ttl -o utf-out.ttl

or

    java -jar cli-0.0.6-SNAPSHOT-jar-with-dependencies.jar

[2018-10-28 12:33] pmaria commented on #66
Might be a problem with reading the input file. If carml-cli doesn't specify the input encoding, then it is probably defaulting to standard encoding of the OS, which is usually a bad idea.
I could check this later, when I'm behind a pc.

[2018-10-28 12:59] nicky508 commented on #66
On my windows pc it looks fine as well. That is probably the issue. Take a look at it tommorow

[2018-10-29 08:08] pmaria commented on #66
I checked the standard encoding in a docker container from the `zazukoians/node-java` image. This is `ANSI_X3.4-1968` aka US-ASCII. So I believe carml-cli is reading the input file as ASCII. That would indeed explain it.

[2018-10-29 09:29] ktk commented on #66
Tnx @pmaria. What would be the proper way to handle that, take it as utf-8 by default or read out the encoding in the xml itself

[2018-10-29 09:44] pmaria commented on #66
If you know your input files encoding upfront, you can either default to an encoding when creating the inputstream, or make it parameterizable via de CLI.
If you don't know the encoding upfront it is more complicated. There is no exact way of determining the encoding of a file. There are utils like [Apache Tika's CharsetDetector](https://tika.apache.org/1.19/api/org/apache/tika/parser/txt/CharsetD

[2018-10-29 16:41] ktk commented on #66
Thanks @pmaria, I've set my docker image to UTF now with [this commit](https://github.com/zazukoians/docker-node-java/commit/4f00a8e8986b07bc20fe86aff68db0b18d629f92). That fixed it!

We can close this issue. BTW are you interested in shipping @nicky508 CLI interface with carml or should we keep that separately?

[2018-10-29 17:02] ktk commented on #38
We now have one here: https://github.com/netage/carml-cli

[2018-10-29 17:10] pmaria commented on #66
Great!

We could look and see if we can combine it with https://github.com/pmaria/carml-jar. Most notably the FnO function loading. However, that project wat thrown together pretty quickly and also needs some work. I'll chat with @nicky508 to see what we can do.

Closing this issue.

[2018-10-29 17:10] #66 closed

[2018-11-01 11:37] ktk opened #67 "Blank nodes in XML structures"
I have a bit a hard time understanding how I would create blank nodes for xml elements that are nested. Currently I have a structure like this (simplifyed):

[code]

I map the main element like this:

[code]
and the geo part like this:

[code]
Unfortunately hash-URIs are not well handled in triplestores so dereferencing gets hard that way.

So I would like to switch that to blank nodes but I fail

[2018-11-01 12:15] pmaria commented on #67
@ktk in CARML we follow the R2RML spec in this case. You can create a blanknode with a specific template.  So basically you create a termMap with an `rr:template` and `rr:termType rr:BlankNode`. This will allow you to achieve "joined" blanknodes on template in the resulting data.  See also https://www.w3.org/TR/r2rml/#generated-rdf-term

[2018-11-01 17:21] ktk commented on #67
@pmaria tnx will check it out tomorrow. If I get it to work I will add a sample in the readme if this is ok for you.

[2018-11-03 08:44] pmaria opened #68 "FunctionMap with termType IRI should encode values as IRI"
A function map with `rr:termType rr:IRI` currently does no encoding to valid IRI. Even though it's advisable to do IRI part encoding within the executed function, CARML should still properly IRI-encode when coercing the value to an IRI.

[2018-11-03 09:48] ktk commented on #52
Just FYI I'm very grateful for the functionality, very useful in XML files. Also I do see cases where it would be nice to have on the subject itself but there are ways around it I think.

[2018-11-07 13:11] pmaria opened #70 "IRI unicode normalization"
Add option for specifying unicode normalization form of IRIs.
See https://tools.ietf.org/html/rfc3987#section-7.5.

[2018-11-13 16:58] #68 closed

[2018-11-14 06:58] #70 closed

[2018-11-21 10:38] DevAnonymous-dev opened #75 "Carml and Big data ingestion Tools"
Hi!

Can I ingest batch social networks data such as tweets into CARML using one of the big data ingestion tools such as NIFI , Flume or Kafka?

Regards,
Hiba

[2018-11-22 15:19] pmaria commented on #75
Hi @SebeiHiba ,

I wouldn't recommend trying to load large data sources into CARML. CARML in it's current state works best for relatively small sources. Support for larger sources is on the top of our roadmap.

So, you could use CARML for large sources as long as you have a process that chunks the source in some way and maps those chunks using CARML.

[2018-11-22 15:40] SebeiHiba commented on #75
Hi!
 thank you for your response. Actually I was talk about the ability to connect
 CARML and Apache Kafka as in showing in this **presentation slide 38** [https://fr.slideshare.net/gschmutz/ingesting-streaming-data-into-graph-database](url). The tweet will not be large but I will have a big number of tweets (millions of tweets) that will be mapped one by one into RDF through CARML.
Best Regards,

[2018-11-22 15:46] pmaria commented on #75
Ah yes! Thanks for pointing out this presentation. That's very cool.
So yes, streaming it in that way should definitely be possible.

[2018-11-22 15:48] SebeiHiba commented on #75
But actually no java example is provided that can explain the connection between Kafka and CARML

[2018-11-22 15:57] pmaria commented on #75
That's true. CARML is independent of these data pipelining frameworks.
But this part of the documentation is relevant here: https://github.com/carml/carml#input-stream-extension.

So, if you can create an inputstream from a chunk during your processing with Kafka, you can bind it to a CARML `RmlMapper` instance.

[2019-02-11 08:11] SebeiHiba opened #76 "predicate mapping"
how can we add more restriction about predicate example inverse or functional using the CARML mapping?

[2019-02-17 16:00] pmaria commented on #76
Hi @SebeiHiba,

Could you clarify what you mean by inverse or functional? Perhaps with an example?

[2019-02-17 16:23] SebeiHiba commented on #76
Hi,

Thank you for your response.
*Example:* Person A  *follows* Person B
               *  follows* owl:inverseOf *followedBy*
Best Regards,
Hiba Sebei

Le dim. 17 févr. 2019 à 17:00, Pano Maria <notifications@github.com> a
écrit :

[2019-02-25 09:43] nicky508 opened #77 "Declare multiple namespaces"
Is it possible to declare multiple namespaces. Right now I have a xml file with nested namespaces:

[code]

With the following mapping I get nothing back:

[code]

Probably because I am missing the namespace for "AlertAdapter", is there a way to specify this nested namespace as well?

[2019-02-25 10:08] nicky508 commented on #77
Is this the right way:

`<#SubjectMapping> a rr:TriplesMap ;
  rml:logicalSource [
    rml:source [
      a carml:Stream ;
	  carml:declaresNamespace [
        carml:namespacePrefix "edxl-cap" ;
        carml:namespaceName "http://release.niem.gov/niem/adapters/edxl-cap/3.0/" ;
      ] ;
	  carml:declaresNamespace [
		carml:namespacePrefix "nena-ne" ;
        carml:namespaceName "urn:nena:xml:ns:N

[2019-02-25 11:48] pmaria commented on #77
Yes, that should work.

[2019-02-25 12:16] nicky508 commented on #77
Found the issue why it did not work. there is a default mapping as well. I declare the default namespace with a self-chosen prefix and added this prefix to the elements. Now it works!

[2019-02-25 12:16] #77 closed

[2019-06-14 09:26] dachafra opened #78 "Support for 1-N, N-M join conditions"
At the moment my original data contains joins of the type 1-N, N-1, N-M CARML isn't able to generate the corresponding RDF. The output message is:

"Expecting single value for referencing object map on subject [SUBJECT], and predicate [PREDICATE]. Multiple values found."

[2019-06-14 15:03] pmaria commented on #78
Hi @dachafra,

CARML handles these cases with this extension: https://github.com/carml/carml#multitermmap-extension

The reason for this is the fact that this behavior is not defined by RML. This is also discussed in #52 .

[2019-06-14 15:43] dachafra commented on #78
Thanks @pmaria, I would recommend you to add this info in the error message, it would very useful.

I also see that you mention that this behaviour is not defined by RML, but as RML is an extension of R2RML, anything that isn't defined in RML should follow R2RML. I could agree about the carml:multiReference and carml:multiTemplate as they are cases that I think they don't happen in RDB, but in the

[2019-06-16 07:47] pmaria commented on #78
Yes, good idea.

You might be correct there. Though I can't seem to find a test case that corroborates this in https://www.w3.org/2001/sw/rdb2rdf/test-cases/. I'll look into this some more.

[2019-07-19 09:24] VladimirAlexiev commented on #52
@ktk, can you clarify what you mean here?

[2019-07-19 16:06] VladimirAlexiev commented on #52
@pmaria: I think https://github.com/RMLio/rml-implementation-report/issues/11 clarifies the `carml:multiReference` extension is not needed: that's the expected behavior for multivalued fields.
Cheers!

[2019-07-20 13:25] pmaria commented on #52
Thanks @VladimirAlexiev . Will look at this soon.

[2019-09-09 11:48] DevAnonymous-dev opened #79 "Two logical sources for one RML mapping file"

[2019-09-09 11:50] DevAnonymous-dev commented on #79
can we use two different logical sources (e.g. two different JSON files) in one RML mapping file

[2019-09-09 11:59] pmaria commented on #79
Yes, that's possible. Just specify the source in the appropriate logical source.

[2019-09-09 12:08] DevAnonymous-dev commented on #79
I tried this example with the two logical sources: "/home/use/eclipse_projects/Application/src/main/resources/data/tweet.json" and  "/home/user/eclipse_projects/Application/src/main/resources/data/media.json" but I get the error Logical sources are not equalParent.

@prefix rr: <http://www.w3.org/ns/r2rml#>.
@prefix rml: <http://semweb.mmlab.be/ns/rml#>.
@prefix ql: <http://semweb.mmlab.be/ns/ql#>

[2019-09-09 12:18] pmaria commented on #79
Yes, you are trying to join iterations on different sources, but since the data in these iterations is not the same you must specify a join condition. See http://rml.io/spec.html#relationships-among-logical-sources-rr-parenttriplesmap-rr-joincondition-rr-child-and-rr-parent

[2019-09-09 14:19] DevAnonymous-dev commented on #79
thank you for your response the use of join condition resolve the issue of the logical sources but the link between the first subject belongs to the first logical source and the object belongs to the second logical source is not established.

    <#TextFeaturesMapping> a rr:TriplesMap ;
  rml:logicalSource [
	rml:source "/home/user/eclipse_projects/app/src/main/resources/data/tweet.json";
    rml:

[2019-09-09 15:31] pmaria commented on #79
looking at your mapping your probably mixing up child and parent conditions. The child expression is evaluated on the current source, and the parent expression is evaluated on the source to be joined. Also I dont think the `$.` part is necessary in your expression. Make sure the expressions evaluate on the respective sources.

[2019-09-30 10:53] amjdhsn opened #80 "Concise functions"
In the current implementation, to execute functions, a lot of boilerplate are being repeated. E.g.
[code]

This can be in more concise way if the function itself can be called inside, e.g.:
[code]
Is this feasible?
Thanks

[2019-10-07 13:39] msimons opened #81 "Missing exception while loading RML with a unbounded prefix"
With the latest version of Carml you are capable of loading RML mappings with an unbounded prefix. Carml will use 'http://purl.org/dc/terms' as a default base iri. I think the loader should address this issue to anyone with an (load) exception.

Issue can be reproduced with the following example:

[code]

[2019-10-09 07:45] pmaria commented on #80
Hi @amjdhsn,

Sorry for the late reply, I was on holiday :)

If I understand correctly, you would like a more concise way to specify functions that is not RDF-equivalent of the current way of specifiying functions. The problem here is that we're following https://fno.io/rml/, so we can't change this on our own. We are looking at adding support for http://rml.io/yarrrml/, which will allow for more

[2019-10-22 14:29] nicky508 opened #82 "Optionallity on conversion"
I am trying to use CARML on a API. The output of the API is sometimes missing some fields, because they are not present on the data instance retrieving. The output format is JSON. I run into the issue, that, when I try to convert a set of data and a data field is missing, CARML returns:
`Caused by: com.jayway.jsonpath.PathNotFoundException: Missing property in path $['_links']['nevenadres']`
Is th

[2019-10-22 15:17] nicky508 commented on #82
I updated to a newer version and it seems to be solved.

[2019-10-23 13:43] nicky508 commented on #82
Still got the issue

[2020-01-23 11:00] dachafra opened #83 "URI of FnO and Functions Subjects"
The URI of the FnO has changed from "http://semweb.datasciencelab.be/ns/function#" to "http://w3id.org/function/ontology#". The engine is not able to parse mapping with functions with the current URI.

Why does the function value (fnml:functionValue) need an explicit subject? It is not mandatory as it can be seen in the examples: https://fno.io/rml/ (only LogicalSource and PredicateObjectMap).

[2020-01-23 16:23] pmaria commented on #83
Hi @dachafra thanks for the heads up on the change of the URI. I will update this soon.

As for your other question. The reason is that we interpreted a FunctionMap to be a sub-class of TriplesMap. And the [rules for a valid TriplesMap](http://rml.io/spec.html#triples-map) state that it requires exactly one SubjectMap. The behaviour of not providing a Subject Map is not defined anywhere that I kno

[2020-02-16 12:46] pmaria opened #84 "IRI upper case hex nr percent encoding"
Currently CARML percent encodes IRIs with lower case hex numbers. Although lower case and upper case hex percent encodings are equivalent, they should be upper cased as per https://www.ietf.org/rfc/rfc3987.txt.

To provide backwards compatibility, a builder option should be added to produce lower case hex percent encodings.

[2020-02-16 12:59] pmaria commented on #84
Will fix encoding issues for
* [RMLTC0010b](https://rml.io/test-cases/#rmltc0010b-csv)
* [RMLTC0010c](https://rml.io/test-cases/#rmltc0010c-csv)
* [RMLTC0013a](https://rml.io/test-cases/#rmltc0013a-json)

[2020-02-16 19:18] pmaria opened #85 "Check generated language tags for well-formedness"
CARML currently does not check for well-formedness of generated language tags.

Introduce well-formedness check according to https://tools.ietf.org/html/bcp47#section-2.2.9 as per https://www.w3.org/TR/rdf11-concepts/#section-Graph-Literal

[2020-02-16 19:20] pmaria commented on #85
Related to:

[2020-03-13 12:56] pmaria opened #86 "JsonPathResolver throws NullPointerException on unresolvable iterator expression"

[2020-06-26 10:56] panos1208 opened #87 "LogicalSource with different iterator in multiFunctionValue"
Good morning,

I was wondering if **multiFunctionValue** supports different iterator in its logical source. For example, is something like the following supported? I wasn't able to find something relevant in the test cases.

Thank you in advance.

[code]

[2020-06-26 11:35] pmaria commented on #87
Hi @panos1208,

No that isn't supported. What I believe you could do in this case is use a join with a TriplesMap that uses the other iterator to generate subject IRIs, e.g.:
[code]

[2020-08-12 06:58] pmaria commented on #81
@msimons looked into this a bit. This seems to be an RDF4J issue or intended behavior. [BasicParserSettings](https://github.com/eclipse/rdf4j/blob/master/core/rio/api/src/main/java/org/eclipse/rdf4j/rio/helpers/BasicParserSettings.java) registers commonly used namespaces, and [AbstractRDFParser.getNamespaces](https://github.com/eclipse/rdf4j/blob/a541037f05bda3f75062e8582c0b62c0c0377a14/core/rio/a

[2020-08-25 21:20] jaw111 opened #93 "CSV parser chokes on values that are over 4096 characters"
I'm working with a CSV file that has some very long values and the parser is throwing the error

[code]

The value is actually over 7000 characters long.

Possible fix to enable auto-expansion of the internal array, use the `setMaxCharsPerColumn` to set this property to `-1`.

[2020-09-11 10:03] pmaria commented on #52
The multi term map extension is deprecated with release v0.3.0.

[2020-09-11 10:03] #52 closed

[2020-09-11 10:05] pmaria commented on #83
The old URI is deprecated in favor of the new URI with release v0.3.0

[2020-09-11 10:05] #83 closed

[2020-09-11 10:05] #81 closed

[2020-09-11 10:05] #84 closed

[2020-09-11 10:05] #85 closed

[2020-09-11 10:06] pmaria commented on #86
Fixed in release v0.3.0

[2020-09-11 10:06] #86 closed

[2020-09-11 10:06] pmaria commented on #93
Fixed in release v0.3.0

[2020-09-11 10:06] #93 closed

[2020-09-11 10:08] pmaria commented on #67
Closing this as considered not an issue.

[2020-09-11 10:08] #67 closed

[2020-10-11 10:59] victorlouw opened #99 "Failing tests when building on Windows"
These tests fail when building on Windows (tried cmd.exe and Git Bash):
- `com.taxonic.carml.engine.iotests.RmlMapperTest.testIriFunctionMapping`
- `com.taxonic.carml.engine.iotests.PredObjectMapsTest.testPredObjectMappingGOnePredwithJoinCondition`

Everything builds fine on Linux / WSL.

Seems to be an encoding issue (`葉篤正` and `ë` are involved).
I tried specifying `UTF_8` encoding in several pla

[2020-12-04 11:42] swathi-ssunder opened #103 "Support for R2RML mappings and/or database as logical source for RML mappings"
Hello,

I couldn't find this in the documentation or even after going through the source code. Following are the 2 questions I have:

1. Is there a way to execute R2RML mappings using CARML?
What I am unable to figure out is how/where to specify the database connection string.

1. I tried RML mappings with the database configuration as the logical source, following the examples from the [test case

[2020-12-04 14:38] pmaria commented on #103
@swathi-ssunder currently it is not supported. We are planning to add support in the coming months.

[2020-12-06 09:30] swathi-ssunder commented on #103
Thanks for the response, @pmaria!

[2021-02-27 16:06] dachafra opened #105 "Error parsing RML mapping over GTFS-Madrid-Bench"
We are trying to generate the RDF based on the attachment data and mappings and we are obtaining the following error when the mapping is being parsed:
[code]
The mapping and data runs in other RML parsers (i.e., RMLMapper, RocketRML and SDM-RDFizer)

[gtfs-data.zip](https://github.com/carml/carml/files/6054883/gtfs-data.zip)

[2021-03-05 20:15] snat0x54 opened #107 "Jsonpath root selector in rml:reference"
Hi all,

I have a problem using the root selector with rml:reference when the iterator of the logical source is not $ e.g. rml:reference "$[3]"

This is my mapping file:
[code]

This is my input.json:
[code]

This is the output:
[code]

As you can see schema:dateCreated is missing. The output I would like to have would be:
[code]

It seems like using the root $ selector in rml:reference depends on

[2021-03-10 09:34] pmaria commented on #107
Hi @snat0x54,

Indeed the spec does state that. However, how do you know when it should be absolute or when it should be relative? The spec is not clear on that. Currently we only support paths relative to the logical source iteration in term maps. Since we're moving towards a more streaming approach soon I don't see this changing any time soon.

But of course that doesn't really help with this is

[2021-03-15 08:39] snat0x54 commented on #107
Hi @pmaria,

Thanks for the answer and sorry for the late reply. Actually it was just a test payload to test how flexible rml mapping is. As a background: We want to lift arbitrary payload from iot devices.

Ofc we are open about addings this for discussion.

[2021-03-22 19:28] #105 closed

[2021-03-22 20:03] pmaria commented on #105
@dachafra should be fixed with v0.3.2.

[2021-03-22 20:13] dachafra commented on #105
thanks @pmaria, we will include the performance results from CARML if the paper submitted to the KGCW is accepted.

cc @jatoledo @ArenasGuerreroJulian

[2022-05-13 16:17] szmejap opened #117 "RML Term type "IRI" does not produce IRIs in output"
Hello,

When trying out CARML with some simple examples available at [https://rml.io/yarrrml/matey/#](https://rml.io/yarrrml/matey/#) I run into the following problem:

Values for RDF Objects are always written in RDF as literals. To put an IRI in an RDF triple object, one should use the "rr:termType rr:IRI" property assertion. Regular RML tools seem to handle this correctly. It seems, however, th

[2022-05-16 11:11] pmaria commented on #117
Hi @szmejap, thanks for trying CARML.

Consider the second note of the [term type](https://www.w3.org/TR/r2rml/#termtype) section of the R2RML spec, on which RML is based:

So constant-valued term maps are not influenced by `rr:termType` statements.

This is not a bug in CARML, but seems to me to be a bug in Matey.

Hope this helps. If you have any further questions let me know.
If this sufficient

[2022-06-14 11:42] #5 closed

[2022-06-14 11:42] #15 closed

[2022-06-14 11:43] #36 closed

[2022-06-27 11:54] pmaria commented on #39
Language map is now available

[2022-06-27 11:54] #39 closed

[2022-06-27 11:55] #41 closed

[2022-06-27 11:55] #75 closed

[2022-06-27 11:58] #78 closed

[2022-06-27 11:59] #79 closed

[2022-06-27 11:59] #87 closed

[2022-07-15 09:00] tobiasschweizer opened #142 "JSON Null Value Leads To Java Null Pointer Exception"
Hi there,

I ran into an issue when using CARML version 0.4.0 to map the contents of a JSON file.
I made a repo with a reproducible example: https://github.com/tobiasschweizer/carml-bug-report

Summary: when iterating over objects with `null` values in JSON (https://github.com/tobiasschweizer/carml-bug-report/blob/b386a89b00dc59e273715f2ba674e88f8cfe9fab/test-data/data2.json#L44-L49) that are used

[2022-07-15 09:26] pmaria commented on #142
Hi @tobiasschweizer, thanks for this easy to reproduce bug report.
I'll have look at it this weekend and roll out a fix asap.

[2022-07-15 09:29] tobiasschweizer commented on #142
Hello @pmaria,
That sounds great, thanks a lot.
Please let me know if I can be of any further assistance.

[2022-07-15 09:40] pmaria commented on #142
Update: I've located the cause of the nullpointer bug. I think I can roll out a fix-release around Monday.

[2022-07-15 11:53] tobiasschweizer commented on #142
That's great, thank you for doing that so quickly!

So this means that once the bug is fixed:
- no triples would be generated at all for the whole `<#OrganizationMapping>` if `id` is `null` (`id` is used in subject map)
- no triple for the object map would be generated if `country_code` is `null`

In my understanding, the value not being `null` is like a condition for a subject or object map. I tr

[2022-07-15 12:16] pmaria commented on #142
Yes correct if a term generating expression leads to `null` no triple generation should take place.

[2022-07-18 09:02] pmaria commented on #38
@semanticfire I recently started setting up a [separate repo](https://github.com/carml/carml-jar/settings) for a new CLI implementation based on the updated API, and was meaning to get into contact with you guys about it once it was somewhat shareable. Would be great to collaborate on it. Shall we plan a call to discuss?

[2022-07-18 09:11] semanticfire commented on #38
you know how to reach me

[2022-07-18 11:35] #142 closed

[2022-07-18 13:35] pmaria commented on #142
@tobiasschweizer the bugfix has been released and should be available on maven central (soon).

[2022-07-18 14:08] pmaria commented on #142
@tobiasschweizer ah cool. Yes, help is definitely welcome. I'll try to share the first implementation soon.

[2022-07-18 14:11] tobiasschweizer commented on #142
That's great to hear. Just let me know when I can do something :-)
I did a lot Scala in the past few years but not really Java. So that is going to be interesting!

[2022-07-21 15:21] semanticfire commented on #38
I called @pmaria today,  @tobiasscweizer please try the https://github.com/carml/carml-jar repo to see if that works for you

[2022-07-21 16:42] tobiasschweizer commented on #38
That sounds great! I'll try that asap and give you feedback.

[2022-07-21 17:15] tobiasschweizer commented on #38
Ok, I cloned the repo and ran `mvn clean package` but ran into errors.

My setup on macOS:

Apache Maven 3.8.6 (84538c9988a25aec085021c365c560670ad80f63)
Maven home: .../maven/3.8.6/libexec
Java version: 18.0.1.1, vendor: Homebrew, runtime: .../openjdk/18.0.1.1/libexec/openjdk.jdk/Contents/Home
Default locale: en_CH, platform encoding: UTF-8

openjdk 11.0.12 2021-07-20
OpenJDK Runtime Environment

[2022-07-21 17:24] tobiasschweizer commented on #38
ok, I set my JAVA_HOME accordingly, now `mvn` uses Java version: 11.0.12 as well, but the problem is still there

[2022-07-21 17:53] pmaria commented on #38
@tobiasschweizer seems to be a problem with the ordering of the way files are read. I pushed a possible fix. Let me know if that helps. Otherwise please open a new issue on the project so we can track it.

[2022-07-22 06:19] tobiasschweizer commented on #38
@pmaria Great, thanks for the fix.

I confirm that I can now build the jar and run it. :-)

For running it, I have to use the `map` command, e.g., `java -jar carml-jar-1.0.0-SNAPSHOT-0.4.1.jar map -m mapping.ttl -r inputdir` and there is still some logging to stdout. I assume you are still working on this, right? Otherwise I can create an issue on the CLI repo with the complete output.

I also hav

[2022-07-22 06:33] tobiasschweizer commented on #38
I have just tried the CLI version with the data that caused the null pointer exception prior to version 0.4.1. It works smoothly now!

[2022-07-22 06:37] pmaria commented on #38
Great!

Yep, that still needs work. Mapping to exit codes and such. Feel free to open issues for any missing or incomplete features.

Yes, best to discuss there.

Cool!

[2022-09-06 16:19] tobiasschweizer opened #163 "LogicalSource For Root Node Ignored When Mapping XML With Multiple Logical Sources"
Hi there

I have an XML file that I map using two logical sources with different iterators: one from the root element and one from a nested element.

test.xml:
[test.xml.txt](https://github.com/carml/carml/files/9498768/test.xml.txt)

Mapping:

[code]

I tried the same mapping with CARML (0.4.1, using the JAR version) and [RML Mapper](https://github.com/RMLio/rmlmapper-java/releases/download/v6.0.

[2022-09-08 07:30] #163 closed

[2022-09-08 07:46] pmaria commented on #163
no worries :)

[2022-09-09 13:35] tobiasschweizer opened #167 "IRI Generation Fails With Newlines"
Hi there (and do not look at this yet if you are still on vacation :-))

I ran into an issue when generating IRIs from an XML element value containing newlines.

mapping:
[code]

data:
[code]

Result with carml 0.4.2 (using CARML JAR):

I found a solution for this by preprocessing the text (remove all newlines and trim and collapse spaces).

Is the handling of whitespace in XML somehow specified i

[2022-09-13 13:01] pmaria commented on #167
This seems to be a bug in percent encoding the new line char. Will look into it

[2022-09-13 14:09] #167 closed

[2022-09-13 14:13] pmaria commented on #167
@tobiasschweizer there was indeed an issue with the percent encoding. Encoding of code points leading to a single hex digit were leading to single digit percent encodings instead of the required 2 digits. This has been fixed with `0` padding.
So the IRI generated will now be  `https://data.connectome.ch/author/Aad%20van%20der%0A%20%20%20%20%20%20%20%20%20%20%20%20Lugt` in this case.

[2022-09-14 05:44] tobiasschweizer commented on #167
That's great! Thanks for the explanation and the quick fix!

I was wondering if the RML specs actually define how an IRI/URI encoding looks like given some string.

For example, "A Bergström" gives <https://data.connectome.ch/author/A%20Bergström> (space is URL encoded) with CARML and <https://data.connectome.ch/author/A%20Bergstr%C3%B6m>  (space and "ö" are URL encoded) with RML Mapper.

[2022-09-14 13:00] pmaria commented on #167
It is specified in the R2RML spec: https://www.w3.org/TR/r2rml/#dfn-iri-safe. However, I must admit I haven't ever looked at the implementation in detail. And, I'm now not sure `ö` shouldn't be encoded. Looking at the IRI-safe part, I believe it actually should be encoded. I'll take a deeper look and get back to you.

[2022-09-14 13:33] tobiasschweizer commented on #167
Let me know if I can help investigating that. Specs can be quite tricky sometimes (at least for me) ...

[2022-09-14 14:08] pmaria commented on #167
Yes please. Any help is appreciated :)

[2022-09-14 16:48] pmaria commented on #167
Looking specifically at `ö` the transformation seems correct, since it falls within `%xA0-D7FF` of `ucschar`. See https://qaz.wtf/u/show.cgi?show=+%25xA0-D7FF&type=hex.

[2022-09-15 05:53] tobiasschweizer commented on #167
Looking at the definition of an IRI (as opposed to a URI):

(https://en.wikipedia.org/wiki/Internationalized_Resource_Identifier#Syntax)

I think https://data.connectome.ch/author/A%20Bergstr%C3%B6m is a correct IRI. Looking at https://data.connectome.ch/author/A%20Bergstr%C3%B6m I guess this is rather a URI than an IRI. Maybe we could open a topic on https://github.com/kg-construct/rml-questions/

[2022-09-15 06:34] pmaria commented on #167
Yes, IRI's have a much larger range of unescaped characters for internationalization purposes. And all W3C specs now use the IRI spec. Still it might be useful to be able to force URI generation from the mapping. This makes implementing linked data dereferencing a lot easier for example, since HTTP does not support IRIs.

[2022-09-15 06:34] pmaria commented on #167
Would be good to discuss indeed

[2022-09-15 06:38] tobiasschweizer commented on #167
Yes, because the URI and IRI versions are not considered equal, at least not by the [tool](https://rdflib.readthedocs.io/en/stable/_modules/rdflib/compare.html) I am using to check for differences between the output of different RML engines given the same data and mapping. Would you like to open a topic on https://github.com/kg-construct/rml-questions/discussions/ or should I do it?

[2022-09-15 06:47] pmaria commented on #167
If you could, that would be great :)

[2022-09-15 06:48] tobiasschweizer commented on #167
ok, will do :-)

[2022-09-15 09:59] tobiasschweizer commented on #167
And here we go: https://github.com/kg-construct/rml-questions/discussions/28

Please feel free to add any missing details etc.

[2022-09-19 13:35] pmaria commented on #99
This problem seems to have been resolved

[2022-09-19 13:35] #99 closed

[2022-11-12 13:50] ktk opened #191 "JSONata as an additonal JSON processor"
I've had limited success processing JSON with carml, not because it doesn't work, but because a lot of JSON should just be thrown out the window because it's so poorly structured. I would have to process the same file multiple times to get all the stuff out, using only JSON path iterators. RDF would act as the "glue" in the end sticking the right things together via IRIs.

Recently I started playi

[2022-11-12 13:51] ktk commented on #38
I think we can close this one here? Thanks for the work!

[2022-11-13 10:48] pmaria commented on #191
Hi @ktk,

Yeah I looked at JSONata a while back, but never had the bandwith to really do anything with it.

In principle it shouldn't be too much work. The main concern I have is that JSONata does not seem to support streaming processing of expressions. This would be different from the current CSV, JSONPath, and XPath implementations, and that would require some explanation/warning to users.

Is s

[2022-11-13 10:49] pmaria commented on #38
Yeah, I'll close this as soon as I've updated the readme with a section linking to the carml-jar repo. It still needs a bit of documentation etc. but is already in a useable state.

[2022-11-13 18:57] ktk commented on #191
Hi @pmaria

Ok the streaming part makes sense. IMO it would live next to the JSON path processor so one could argue that one gets more expressivity but has to live with in-memory processing of the whole file. I think for processing APIs this is often reasonable.

[2022-11-14 06:48] tobiasschweizer commented on #38
I can confirm that: I used it and it does the job nicely :-) Does the CLI version actually already support stdin (CARML stream)?

[2022-11-14 07:06] pmaria commented on #191
Ok. I can definitely see the value in supporting JSONata. Would welcome contributions since I don't have time available to pick this up till probably next year.

[2022-11-14 07:07] pmaria commented on #38
Great!

Ah no, l'll open an issue for that.

[2022-11-14 07:08] tobiasschweizer commented on #38
That' great, thanks.

[2022-11-14 07:46] ktk commented on #191
Ok it's not urgent but maybe some of my colleagues can pick it up later.

[2022-11-14 07:47] ktk commented on #191
@pmaria can you tag the issue as enhancement and help wanted or alike?

[2022-11-14 07:50] ktk commented on #38
@pmaria that just reminds me that @semanticfire implemented [carml-service](https://github.com/zazuko/carml-service/), this is what we use when we convert the 50M XML documents I mentioned. Like this we can parallelize it and scale it out on Kubernetes & it gets called in one of our [barnard59](https://github.com/zazuko/barnard59) pipelines.

In case you want to mention that in the readme let me k

[2022-11-14 07:53] pmaria commented on #38
Yes great!

[2022-11-17 08:49] pmaria opened #193 "Upgrade to JDK 17"